Makefile
tags
TAGS
COMPILED_AT
compile_commands.json
RECOMPILE_REQUEST
*.o
*.o.c
*.orig
*.a
*.so
*.dll
*.log
*.bundle
*~
.*.sw?
\#*

CVS
.#*

# Local build folders
/build/
build-cmake/
build-*/

/**/CMakeFiles/
/**/generated/
/**/out/
/**/stage/

# Trunk output
/.trunk/out/
